<p>
  <b>Name:</b>
  <%=h @project.name %>
</p>

<div id="stories">
  <%= render :partial => @project.stories %>
</div>

<%= link_to 'New story', new_project_story_path(:project_id => @project.id) %>
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

