<% div_for story do %>
<p>
  <b>Name:</b> <%=h story.name %>
  <b>Desc:</b> <%=h story.description %>
  <b>Point:</b> <%=h story.points %>
  <%= link_to_remote "Nova Task", :url => new_project_story_task_path(@project, story),
   :method => :get %>
  <%= link_to_remote "Destroy", :url => project_story_path(@project, story),
  :method => :delete, :confirm => "Are you sure?" %>
</p>

<div id="story_<%= story.id %>_tasks">
  <p>Tasks</p>
  <%= render :partial => story.tasks %>
</div>

<% end %>

